<div>
	<EditForm OnValidSubmit="@OnValidSubmit"
					  Model="@ModelValidation">
	
	<RadzenCard>
	@* Super IMPORTANT !!! *@
	<DataAnnotationsValidator />

	<h2>Faire un virement bancaire</h2>

	<div class="row">
		<div class="margin-5px w-50 col">
			<div>
			Date du virement
			</div>

			<RadzenDatePicker @bind-Value="ModelValidation.DateTransaction"
							DateFormat="d" />
		</div>

		<div class="margin-5px col">
			<div>
				Nom transaction
			</div>
			<div>
				<ValidationMessage For="@(() => ModelValidation.NomTransaction)" />
			</div>
			<RadzenTextBox Placeholder="Nom..."
						@bind-Value="ModelValidation.NomTransaction" />
		</div>

		<div class="margin-5px col">
			<div>
				Vers quel compte
			</div>
			<div>
				<ValidationMessage For="@(() => ModelValidation.CompteArrive)" />
			</div>
			<RadzenDropDown AllowClear="true" 
						TValue="Compte" 
						Placeholder="Choisir un compte..." 
						Data=@Comptes
						TextProperty="Nomcompte"
						@bind-Value="ModelValidation.CompteArrive"
						 Change=@OnSelectCompte
						 />
		</div>

		<div class="margin-5px col">
			<div>
				Montant du virement
			</div>

			<div>
				<ValidationMessage For="@(() => ModelValidation.Montant)" />
			</div>
			<RadzenNumeric TValue="decimal" 
							Format="c" 
							@bind-Value="ModelValidation.Montant"
							Placeholder="Montant" />
		</div>

		<div class="margin-5px col">
			<div>
				Sur un budget ?
			</div>

			<RadzenDropDown AllowClear="true" 
						TValue="Budget" 
						Placeholder="Choisir un budget..." 
						Data=@Budgets
						TextProperty="Nombudget"
						@bind-Value="ModelValidation.Budget" />
		</div>

		<div class="margin-10px col">
			<button type="submit" class="padding-5">Ajouter</button>

			<button type="reset"
					class="padding-5"
					@onclick="AnnulerVirement">
				Annuler
			</button>
		</div>

			</div>
		</RadzenCard>
	</EditForm>
</div>

@code {
	[Parameter]
	public VirementOperationValidation ModelValidation { get; set; }

	[Parameter]
	public IEnumerable<Compte> Comptes { get; set; }

	[Parameter]
	public IEnumerable<Budget> Budgets { get; set; }

	[Parameter]
	public EventCallback OnValidSubmit { get; set; }

	[Parameter]
	public EventCallback AnnulerVirement { get; set; }

	[Parameter]
	public EventCallback OnSelectCompte { get; set; }

}
