@inject IBudgetConfig ViewModel

<h3>Budget</h3>

@if(@ViewModel.IsLoaded)
{
<div>
	<div class="padding-10">
		@if (!ViewModel.DialogIsOpenNewBudget)
		{
			<RadzenButton Text="Nouveau budget"
						  Icon="add_circle"
						  ButtonStyle="ButtonStyle.Secondary"
						  Click="ViewModel.OpenNewBudget" />
		}
		else
		{
			<div class="col-xl-6">
				<EditForm OnValidSubmit="@ViewModel.OnValidSubmit"
						  Model="@ViewModel.BudgetValidation">
					<RadzenCard>
						@* Super IMPORTANT !!! *@
						<DataAnnotationsValidator />

						@*Nom du budget*@
						<div class="margin-5px">
							<div>
								<ValidationMessage For="@(() => ViewModel.BudgetValidation.NomBudget)" />
							</div>
							<RadzenTextBox Placeholder="Nom..."
										   @bind-Value="ViewModel.BudgetValidation.NomBudget"
										   Style="width 300px" />
						</div>

						@*Description*@
						<div class="margin-5px">
							<div>
								<ValidationMessage For="@(() => ViewModel.BudgetValidation.Description)" />
							</div>
							<RadzenTextBox Placeholder="Description..."
										   @bind-Value="ViewModel.BudgetValidation.Description"
										   Style="width 300px" />
						</div>

						@*Choix du compte*@
						<div class="margin-5px">
							<div>
								<ValidationMessage For="@(() => ViewModel.BudgetValidation.CompteId)" />
							</div>
							<SelectCompte Comptes=@ViewModel.AllComptes 
										OnChangeValue=@(args => ViewModel.OnSelectCompte(args)) />
						</div>

						@*Choix du type de budget*@
						<div class="margin-5px">
							<div>
								<ValidationMessage For="@(() => ViewModel.BudgetValidation.TypeBudgetId)" />
							</div>
							<RadzenDropDown TValue="Typebudget" 
											Class="w-100" 
											Placeholder="Choisir un type de budget..." 
											Data=@ViewModel.AllTypesBudget
											TextProperty="Nomtypebudget" 
											Change=@(args => ViewModel.OnSelectTypeBudget(args)) />
						</div>

						@*Si une prévision de dépense, mettre le montant*@
						@if(ViewModel.BudgetValidation.TypeBudgetId != null
							&& ViewModel.BudgetValidation.TypeBudgetId.Nomtypebudget == "Prévision dépense")
						{
						<div class="margin-5px">
							<RadzenNumeric TValue="decimal" 
											Format="c" 
											Placeholder="Montant" 
											Change="@(args => ViewModel.OnChangeMontant(args))" />
						</div>
						}
						
					</RadzenCard>

					<span class="margin-10px">
						<button type="submit" class="padding-5">Ajouter</button>

						<button type="reset"
								class="padding-5"
								@onclick="ViewModel.CloseNewBudget">
							Annuler
						</button>
					</span>
				</EditForm>
			</div>
		}
	</div>
</div>

<div>
	<RadzenGrid AllowFiltering="true"
				FilterCaseSensitivity="FilterCaseSensitivity.Default"
				AllowPaging="true"
				PageSize="10"
				AllowSorting="true"
				Data="@ViewModel.AllBudgets"
				TItem="BudgetCompteView"
				EmptyText="Aucun compte"
				@ref="ViewModel.BudgetGrid">
		<Columns>
			<RadzenGridColumn TItem="BudgetCompteView"
								Property="Budget.Nombudget"
								Title="Nom" />

			<RadzenGridColumn TItem="BudgetCompteView"
								Property="Budget.Typebudget.Nomtypebudget"
								Title="Type budget" />

			<RadzenGridColumn TItem="BudgetCompteView"
								Property="Budget.Description"
								Title="Description" />

			<RadzenGridColumn TItem="BudgetCompteView"
								Property="Compte.Nomcompte"
								Title="Compte Stockage" />

			<RadzenGridColumn TItem="BudgetCompteView"
								Property="Budget.Montant"
								Title="Montant" />
		</Columns>
	</RadzenGrid>
</div>
}
else
{
    <div>Chargement des budgets en cours ...</div>
}

@code {
   	protected override async Task OnInitializedAsync()
	{
		ViewModel.SetStateHasChanged(StateHasChanged);
		await ViewModel.LoadAllBudgets();
	}
}
