@page "/suivi"
@attribute [Authorize(Roles = "Admin, Member")]
@inject ISuiviCompteViewModel ViewModel

<h2>Suivi des Comptes</h2>

@if (ViewModel.HasConfig)
{
	<div class="w-100">
		<RadzenDropDown TValue="Compte" 
					Placeholder="Choisir un compte..." 
					Data=@ViewModel.Comptes
					TextProperty="Nomcompte" 
					Disabled=@ViewModel.IsLoading
					Change=@(args => ViewModel.OnSelectCompte(args))
					@bind-Value="ViewModel.CompteSelected" />
	</div>
}

@if(ViewModel.IsLoading)
{
	<div>Chargement des données.</div>
}
else
{
	@if(ViewModel.HasConfig)
	{
		<div>
			<button @onclick="ViewModel.DisplayNewOperation">Nouvelle Operation</button>
			<button @onclick="ViewModel.DisplayVirement">Virement</button>
		</div>

		@if(ViewModel.DisplayRenderFragment != null)
		{
			@ViewModel.DisplayRenderFragment
		}

<div class="padding-5">

	<RadzenTabs TabPosition="TabPosition.Top"
				>
		<Tabs>
			<RadzenTabsItem Text="Compte">
				<RadzenGrid AllowFiltering="true"
							FilterCaseSensitivity="FilterCaseSensitivity.Default"
							AllowPaging="true"
							PageSize="30"
							AllowSorting="true"
							Data="@ViewModel.SuiviDuCompte"
							TItem="Suivicompte"
							EmptyText="Aucune transaction"
							@ref="ViewModel.SaisieGrid">
					<Columns>
						@*Date*@
						<RadzenGridColumn TItem="Suivicompte"
										  Property="Datetransaction"
										  Title="Date"
										  Filterable="false"
										  Format="date-time">
							<Template Context="transact">
								@String.Format("{0:d}", transact.Datetransaction)
							</Template>
						</RadzenGridColumn>

						@*Montant*@
						<RadzenGridColumn TItem="Suivicompte"
										  Property="Montant"
										  Title="Montant" />
			
						@*Nom de la transaction*@
						<RadzenGridColumn TItem="Suivicompte"
										  Property="Nomtransaction"
										  Title="Nom" />
						@*Type*@
						<RadzenGridColumn TItem="Suivicompte"
										  Property="Type.Nom"
										  Title="Type">
						</RadzenGridColumn>

						<RadzenGridColumn TItem="Suivicompte"
										  Property="Isvalidate"
										  Title="Est validé ?"
											Width="70px">
							<Template Context="suivi">
								<RadzenCheckBox Value="suivi.Isvalidate"
												Name="CheckBox1" 
												TValue="bool" />
							</Template>
						</RadzenGridColumn>
					</Columns>
				</RadzenGrid>
			</RadzenTabsItem>
	
			@foreach(Budget budget in ViewModel.Budgets)
			{
			<RadzenTabsItem Text="@budget.Nombudget">
				<div>Description : @budget.Description</div>

				<RadzenGrid AllowFiltering="true"
							FilterCaseSensitivity="FilterCaseSensitivity.Default"
							AllowPaging="true"
							PageSize="30"
							AllowSorting="true"
							Data="@ViewModel.SuiviDuCompte"
							TItem="Suivicompte"
							EmptyText="Aucune transaction"
							@ref="ViewModel.SaisieGrid">
					<Columns>
						@*Date*@
						<RadzenGridColumn TItem="Suivicompte"
										  Property="Datetransaction"
										  Title="Date"
										  Filterable="false"
										  Format="date-time">
							<Template Context="transact">
								@String.Format("{0:d}", transact.Datetransaction)
							</Template>
						</RadzenGridColumn>

						@*Montant*@
						<RadzenGridColumn TItem="Suivicompte"
										  Property="Montant"
										  Title="Montant" />
			
						@*Nom de la transaction*@
						<RadzenGridColumn TItem="Suivicompte"
										  Property="Nomtransaction"
										  Title="Nom" />
						@*Type*@
						<RadzenGridColumn TItem="Suivicompte"
										  Property="Type.Nom"
										  Title="Type">
						</RadzenGridColumn>

						<RadzenGridColumn TItem="Suivicompte"
										  Property="Isvalidate"
										  Title="Est validé ?"
											Width="70px">
							<Template Context="suivi">
								<RadzenCheckBox Value="suivi.Isvalidate"
												Name="CheckBox1" 
												TValue="bool" />
							</Template>
						</RadzenGridColumn>
					</Columns>
				</RadzenGrid>
			</RadzenTabsItem>
			}
		</Tabs>
	</RadzenTabs>
		
</div>

}
	else
	{
	<h1>Attention</h1>
    
    <div>Aucun compte par défaut configuré.</div>
    <div>Connectez vous, et configurer un compte par défaut et le mois/année de traitement.</div>	
	}

}

@code {
	protected async override Task OnInitializedAsync()
	{
		ViewModel.SetStateHasChanged(StateHasChanged);
		await ViewModel.InitData();
	}
}